{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "type": "cortex-debug",
            "request": "launch",
            "servertype": "openocd",
            "cwd": "${workspaceRoot}",
            "executable": "${workspaceRoot}/{{PName}}/build/{{PName}}.elf",
            "name": "Debug (OpenOCD)",
            "device": "{{Board}}",
            "configFiles": [
                "interface/stlink.cfg",
                "target/stm32g0x.cfg"
            ],
            "showDevDebugOutput": "raw"
        },
    ]
}