{
    // See https://go.microsoft.com/fwlink/?LinkId=733558
    // for the documentation about the tasks.json format
    "version": "2.0.0",
    "tasks": [
        {
            "label": "[PROJECT]: Generate project",
            "type": "shell",
            "command": "/usr/bin/python3.9",
            "args": [
                "scripts/gen_project.py"
            ]
        },
        {
            "label": "[Upload]: Upload program to board",
            "type": "shell",
            "command": "stm32flash",
            "args": [
                "-w",
                "{{PName}}/build/{{PName}}.elf",
                "-v",
                "-w",
                "-g",
                "0x0",
                "/dev/ttyS0"
            ],
            "problemMatcher": []
        },
        {
            "label": "[Build]: Config IDE",
            "command": "/usr/bin/cmake",
            "args": [
                "..",
                "-DCMAKE_TOOLCHAIN_FILE=../../utl/gcc-arm-none-eabi.cmake"
            ],
            "options": {
                "cwd": "${workspaceFolder}/{{PName}}/build"
            },
        },
        {
            "label": "[Build]: Build",
            "command": "/usr/bin/make",
            "options": {
                "cwd": "${workspaceFolder}/{{PName}}/build"
            },
        }
    ]
}